@model List<ProductModel>

<div class="container">
    <div class="row pt-4 mb-5">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>
        </div>

        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Create New Product
            </a>
        </div>
    </div>
    <table id="myTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Price</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.OrderBy(p => p.Id))
            {
                <tr>
                    <td>@product.Title</td>
                    <td>@product.ISBN</td>
                    <td>@product.Author</td>
                    <td>@product.Price</td>
                    <td>@product.Category.Name</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        <script src="~/js/product.js"></script>
    }
}